---
import { FantartCarousel } from "./FanartCarousel";
---

<div
  class="text-center bg-center h-auto"
>
  <h1 class="font-semibold pt-[45px] pb-4 text-4xl text-color_text_secund">Fanarts</h1>
  <div class="p-4">
    <FantartCarousel client:load />
  </div>
</div>


