<footer class="bg-main text-color_text p-8">
    <div class="flex justify-center items-center mb-2">
        <a href="https://twitter.com/TaigaToragami" target="_BLANK">
            <img src="assets/redes/X.svg" alt="X Icon" class="mx-2">
        </a>
        <a href="https://www.youtube.com/@TaigaToragami" target="_BLANK">
            <img src="assets/redes/youtube.svg" alt="YouTube Icon" class="mx-2">
        </a>
    </div>
    <p class="text-center text-2xl text-color_text_secund">Sigue a Taiga en todas sus redes</p>
    <p class="text-center mt-2">Creditos de imagenes usadas:  <a href='https://es.pngtree.com/freebackground/antiquity-chinese-style-peach-blossom-hand-painted_929827.html'>fotos de fondo gratis de es.pngtree.com/</a></p>
    <p class="text-center mt-2">Fanpage realizada por Kael The Invoker</p>
</footer>