<div class="text-center mt-8 bg-repeat bg-center h-auto">
  <h1 class="font-semibold pt-[45px] pb-4 text-4xl text-color_text_secund">
    Lore
  </h1>
  <div class="grid md:grid-cols-2 gap-4">
    <div class="md:col-span-1">
      <div class="m-4 flex justify-center">
        <iframe
          class="w-full"
          height="415"
          src="https://www.youtube.com/embed/h2HGExbvPss?si=tphGP-q_-bAaXt4G"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="md:col-span-1">
      <div class="mt-2">
        <div
          class="p-6 m-4 border border-color_text rounded text-xl"
          style="background-image: url('assets/pergamino2.jpg'); background-size: cover;"
        >
          <h2 class="font-semibold text-color_text_secund mb-3">
            Taiga Toragami, La Tigresa Blanca del Oeste
          </h2>
          <p>
            Según la mitología china, existen cuatro puntos cardinales, uno de
            ellos es el Tigre Blanco del Oeste, el Báihu, también conocido como
            Byakko.
          </p>
          <p>
            Él es el amo de todas las bestias, de naturaleza pasiva y
            benevolente, que se dice que solo aparece frente a líderes virtuosos
            o cuando la paz reina en el mundo. Sin embargo, también es capaz de
            manifestarse a través de su rigor para castigar al mal que se
            esconde donde la luz no alcanza.
          </p>
          <p>
            Aquí es donde aparece Taiga; ella se manifestó en el mundo humano
            para conocerlo mejor y entenderlo, a pesar de lo mucho que ya la
            habían lastimado, para poder encontrar a cierta persona especial, e
            incluso, poder conseguir más personas especiales en su camino.
          </p>
          <p>
            Así es como emprendió su viaje para castigar el mal que rodeaba al
            mundo. Mientras esto sucedía, Taiga empezó a seguir rumores de
            cierta organización maléfica, así que decidió infiltrarse para
            averiguar más sobre ellos y sus fechorías. Sin embargo, para su
            sorpresa, resultó ser un lugar muy diferente; así es como ella logró
            convertirse en vtuber de IdolES.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
