---
import Fanarts from "./Fanarts.astro";
import Lore from "./Lore.astro";
---

<main>
    <div id="lore">
        <Lore />
    </div>

    <div id="fanarts">
        <Fanarts />
    </div>
    </div>
</main>