<div class="p-8 mx-auto overflow-hidden text-2xl">
  <div class="text-center mt-8 text-4xl mb-[50px]"></div>

  <div class="text-center mt-4">
    <div
      class="mb-8border rounded border-color_text p-8"
      style="background-image: url('assets/pergamino.jpg'); background-size: cover;"
    >
      <h1 class="text-4xl font-bold text-color_text_secund">Perfil</h1>
      <div>
        <img
          src="assets/taiga_face.jpg"
          alt="Foto de perfil"
          class="rounded-full mx-auto m-6"
        />
        <h2 class="font-semibold text-4xl text-color_text_secund">
          Taiga Toragami
        </h2>
      </div>

      <div>
        <p class="text-gray-600 mt-2 font-bold">
          Taiga Toragami es una Vtuber perteneciente a la generación "Eternals"
          de IdolES. Su modelo representa a una tigresa blanca del oeste,
          híbrida entre humana y byakko, que busca eliminar el mal en el mundo.
        </p>
      </div>
    </div>

    <div class="grid md:grid-cols-2 gap-6">
      <!-- TABLA DE INFORMACION GENERAL -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Información General
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Debut
              </th>
              <td class="px-6 py-4"> 03/05/2024 </td>
            </tr>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Oshi Mark
              </th>
              <td class="px-6 py-4"> 🧧 </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Cumpleaños
              </th>
              <td class="px-6 py-4"> 22 de Septiembre </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Edad
              </th>
              <td class="px-6 py-4"> +1000 años </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Altura
              </th>
              <td class="px-6 py-4"> 158 cm </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Idiomas
              </th>
              <td class="px-6 py-4"> Español, Inges y Japones </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Color
              </th>
              <td class="px-6 py-4"> Amarillo #E8AE59 </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Mamá
              </th>
              <td class="px-6 py-4"> Touzai @TZpoppin_phl95 </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Papá
              </th>
              <td class="px-6 py-4"> Kaosuke @kaosuke330 </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE HASHTAGS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4"># HASHTAGS</p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                General
              </th>
              <td class="px-6 py-4"> #TaigaToragami </td>
            </tr>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Fanart
              </th>
              <td class="px-6 py-4"> #TaigAlbum </td>
            </tr>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Assets
              </th>
              <td class="px-6 py-4"> #TaigAssets </td>
            </tr>

            <tr>
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Clips
              </th>
              <td class="px-6 py-4"> #TaigArchive </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE GUSTOS Y DISGUSTOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Gustos y Disgustos
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
              <th scope="col" class="px-6 py-3 text-color_text_secund">
                Gustos
              </th>
              <th scope="col" class="px-6 py-3 text-color_text_secund">
                Disgustos
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Comida 🍜
              </th>
              <td class="px-6 py-4"> Jugar con la comida </td>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Música 🎵
              </th>
              <td class="px-6 py-4"> Clima Caluroso </td>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Actuación de voz 🗣️
              </th>
              <td class="px-6 py-4"> Insectos </td>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Anime/Manga
              </th>
              <td class="px-6 py-4"> Olor a Cigarrillos </td>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Sonido de Lluvia 🌧️
              </th>
              <td class="px-6 py-4"> Medias Humedas </td>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Olor de Hojas de Papel 📜
              </th>
              <td class="px-6 py-4"> Horror </td>
            </tr>
            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Plastico de Burbujas 🫧
              </th>
              <td class="px-6 py-4"> Multitudes </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE HABILIDADES -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">Habilidades</p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Comer todo el tiempo
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Dormir en cualquier lugar
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Desvanecer Presencia
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Cantar
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Actuación de voz
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Escribir letras y guiones
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Editar audio y video
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE PASATIEMPOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">Pasatiempos</p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Probar distintas comidas
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Preparar tés
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Jugar videojuegos
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Organizar colaboraciones
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Pensar en viajes que no haré
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Ver videos de mascotas y cocina
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Armar muebles y decorar el hogar
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE METAS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">Metas</p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Tener canciones originales
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Participar en el doblaje de algun anime
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Enorgullecer a mi comunidad
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Apoyar el talento en la comunidad
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Colaborar con algo de comida
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Colaborar con muchas personas talentosas
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Ir a japon con mis Eternals
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE ANIMES FAVORITOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Animes Favoritos
        </p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Natsume Yuujinchou
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Mushinshi
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Gintama
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Diamon No Ace
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Full Metal Alchemist
              </th>
            </tr>
            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Sakamichi no Apollon
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Sasou no Frieren
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                NANA
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Yagate Kimi ni Naru
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Akatsuki no Yona
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Kusuriya no Hitorigoto
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Chihayafuru
              </th>
            </tr>
            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Haikyuu!!
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE ARTISTAS/BANDAS FAVORITAS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Artistas/Bandas Favoritas
        </p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Misuki Nana
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Kaji Yuuki
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Sawashiro Miyuki
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Kamiya Hiroshi
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Hanazawa Yuichi
              </th>
            </tr>
            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Chiwa Saito
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Ushida Yuuma
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Chiwa Saito
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Uchida Yuuma
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Sakamoto Maaya
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Ishida Akira
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Yuuki Aoi
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Miki Shinichirou
              </th>
            </tr>
            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Cristina Hernandez
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE ACTORES DE VOZ FAVORITOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Actores de Voz Favoritos
        </p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Misuki Nana
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Galneryus
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Dream Theater
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Onmyouza
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Diablo Swing Orchesta
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Yama
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Poliphia
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Linking Park
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                The Offspring
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Wagakki Bang
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Aimer
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                ZUTOMAYO
              </th>
            </tr>
            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Kitani Tatsuya
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE JUEGOS FAVORITOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">Tipos de Juegos</p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                RPG (Genshin Impact, Final Fantasy)
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Peleas (Bloody Roar, Street Fighter)
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                FPS (Overwatch 2, Apex Legends)
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Supervivencia (ARK, Minecraft)
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Multijugador (UNO, Tetris)
              </th>
            </tr>
            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Gachas (Honkai: Start Rail, A3!)
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
